extends layout

block content-body
	section
		header
			h1 Recent updates

		- var objs = _.chain(_.union(contents.posts._.directories,contents.kb._.directories)).map(function (item) {
		- return item.index
		- }).compact().sortBy(function (item) {
		- return -item.date
		- }).first(5).value();

		for obj in objs
			unless obj.metadata.status === 'draft'
				article(class='teaser #{obj._filename.replace(/(.*?)\/(.*)/, "$1")}')
					header
						h1= obj.title
						time(datetime='#{obj.date}') published #{obj.date.toDateString()}
					p= obj.metadata.teaser
					a(href='#{obj.url}') read more
