extends layout

block content-body
	section
		header
			h1 Knowledge base entries
		!= page.html

		- var kbentries = _.chain(contents.kb._.directories).map(function (item) {
		- return item.index
		- }).compact().sortBy(function (item) {
		- return -item.date
		- }).first(5).value();

		each kb in kbentries
			unless kb.metadata.status === 'draft'
				article(class='teaser #{kb._filename.replace(/(.*?)\/(.*)/, "$1")}')
					header
						h1= kb.title
						time(datetime='#{kb.date}') published #{kb.date.toDateString()}
					p= kb.metadata.teaser
					a(href='#{kb.url}') read more