extends layout

block content-body
	section
		header
			h1 Posts
		!= page.html

		- var posts = _.chain(contents.posts._.directories).map(function (item) {
		- return item.index
		- }).compact().sortBy(function (item) {
		- return -item.date
		- }).first(10).value();

		each post in posts
			unless post.metadata.status === 'draft'
				article(class='teaser #{post._filename.replace(/(.*?)\/(.*)/, "$1")}')
					header
						h1= post.title
						time(datetime='#{post.date}') published #{post.date.toDateString()}
					p= post.metadata.teaser
					a(href='#{post.url}') read more